@model CellPhoneShop.PasswordModel
@{
    ViewBag.Title = "Quản lý tài khoản";
}

<h2 class="title-content push50">Đổi mật khẩu</h2>
<div class="clear push20"></div>
<p class="message-success">@ViewBag.StatusMessage</p>
<div id="change-password">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <th class="title-table" colspan="2">Thông tin mật khẩu</th>
            </tr>
            <tr>
                <td class="lb-input">@Html.LabelFor(model => model.MatKhauHienTai) (<span class="mark">*</span>)</td>
                <td>
                    @Html.EditorFor(model => model.MatKhauHienTai)
                    @Html.ValidationMessageFor(model => model.MatKhauHienTai)
                </td>
            </tr>
            <tr>
                <td class="lb-input">@Html.LabelFor(model => model.MatKhauMoi) (<span class="mark">*</span>)</td>
                <td>
                    @Html.EditorFor(model => model.MatKhauMoi)
                    @Html.ValidationMessageFor(model => model.MatKhauMoi)
                </td>
            </tr>
            <tr>
                <td class="lb-input">@Html.LabelFor(model => model.NhapLaiMatKhau) (<span class="mark">*</span>)</td>
                <td>
                    @Html.EditorFor(model => model.NhapLaiMatKhau)
                    @Html.ValidationMessageFor(model => model.NhapLaiMatKhau)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Cập nhật" />
                </td>
            </tr>
        </table>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}